@model CosmeticsShop.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";

    List<CosmeticsShop.Models.Category> categories = ViewBag.ListCategory as List<CosmeticsShop.Models.Category>;
}
<script>
    $(document).ready(function () {
        $('.item_add').click(function () {
            event.preventDefault();
            var ID = $(this).data("id");
            $.ajax({
                url: '/Cart/AddItem',
                data: {
                    ProductID: ID
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.notify("Thêm vào giỏ hàng thành công!", "success");

                        $.ajax({
                            url: '/Cart/GetTotalCart',
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {
                                $(".simpleCart_total").html(response.TotalPrice + "₫ (" + response.TotalQuantity + ")")
                            },
                        });
                    } else {
                        $.notify("Số lượng không đủ!", "error");
                    }
                },
            });
        })
    });
</script>
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>
<div class="single">
    <div class="container">
        <div class="col-md-9">
            <div class="col-md-5 grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@Url.Content("~/Content/images/" + Model.Image1)">
                            <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Image1)" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        @if (Model.Image2 != null)
                        {
                            <li data-thumb="@Url.Content("~/Content/images/" + Model.Image2)">
                                <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Image2)" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                        @if (Model.Image3 != null)
                        {
                            <li data-thumb="@Url.Content("~/Content/images/" + Model.Image3)">
                                <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Image3)" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in">
                <div class="single-para simpleCart_shelfItem">
                    <h2>@Model.Name</h2>
                    <p> @Model.Description</p>
                    <div class="star-on">
                        @*<ul>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                            </ul>
                            <div class="review">
                                <a href="#"> 3 reviews </a>/
                                <a href="#">  Write a review</a>
                            </div>*@
                        <div class="clearfix"> </div>
                    </div>
                    <label class="add-to item_price">@Model.Price.Value.ToString("#,##")₫</label>
                    <a href="#" class="cart item_add" data-id="@Model.ID">Chọn mua</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>